.button {
  width: 25%;
  background-color: #111;
  color: $maincColor;
  font-family: 'VT323', monospace;
  border: 1px solid #111;
  border-radius: 10px;
  text-align: center;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
  cursor: pointer;
}

.button-start {
  color: $maincColor;
  font-size: 35px;
}

.button-rules {
  color: $maincColor;
  font-size: 35px;
}

.button-restart {
  color: $maincColor;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
  font-size: 30px;
}

.button-menu {
  color: $maincColor;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
  font-size: 30px;
}
