.splash {
  padding-top: $bigPadding;
  text-align: center;
}

.input {
  margin-bottom: 20px;
    label{
    font-size: 25px;
  }
}

input[type="text"]
{
  font-family: 'VT323', monospace;
  text-align: center;
  background: #111;
  color: white;
}
input {
  padding: 5px;
  font-size: 25px;
}


.game {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100%;
}

.game-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
  font-size: 25px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .game-header {
    margin: auto auto 20px auto;
    width: 100%;
  }
}

.canvas {
  flex: 1;
  canvas {
    border: 3px solid rgb(95, 71, 5);
    width: 100%;
  }
}


.game-over {
  padding-top: $bigPadding;
  text-align: center;
  .score{
  font-size: 25px;
  }
  li {
    display: flex;
    justify-content: center;
    p {
      margin: 0 20px;
      flex: 2;
      text-align: left;
      font-size: 22px
    }
    .name {
      text-align: right;
    }
  }
  ul {
    padding-bottom: 30px;
  }
}

